@model Category

<h2 class="mt-4 pt-2 text-center">Add Category</h2>
<hr />


<form method="post">

<div class="pb-2 pt-2">    
    <label asp-for="name"></label>
        <input asp-for="name" class="form-control" type="text" />
    </div>
    <div class="pb-2 pt-2">
    <label asp-for="DisplayOrder"></label>
        <input asp-for="DisplayOrder" class="form-control" type="number" />
    </div>

    <div class="row pt-2 mt-2">
        <div class="col-6 col-md-2">
            <button type="submit" class="btn btn-primary border border-primary form-control">Add</button>
        </div>

        <div class="col-6 col-md-2">
            <a asp-controller="Category" asp-action="Index" class="btn border border-primary btn-secondary form-control">Back to List</a>

        </div>

    </div>
    
</form>